@model WebImageCloud.Models.Folder

@{
    ViewData["Title"] = "Details";
}

<h3>Library > <b>@Model.Name</b></h3>
<a asp-controller="Files" asp-action="Create" class="mainColor">Add File</a>
<div class="row">



    @foreach (var item in ViewBag.Files)
    {
    <div class=" col-6  col-md-4 col-lg-3 col-xl-2 file">
        <a asp-controller="Folders" asp-action="Details" asp-route-id="@item.Id"><img src="~/FileExtensions/file-8.svg" alt="File" /></a>
        @if (item.Name.Length < 10)
        {
            <p style="text-align: center; font-size: 14px; margin-bottom: 0">@item.Name</p>
        }
        else
        {
            <p style="text-align: center; font-size: 14px; margin-bottom: 0">@item.Name.Remove(7, item.Name.Length - 7)... @item.Extension</p>
        }

        @*@if (item.size < 10)
            <p style="text-align: center">@item.Size byte</p>*@
    </div>
          
    }
    </div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

